/*-- TABLE HEADER --*/
.table-header {
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid black;
    width: 100%;
}



/*-- TABLES --*/


table {
    font-size: 16pt;
}

table td {
    width: 20%;
    text-align: center;
}

table input {
    font-size: 12pt;
    text-align: center;
}


/*ID*/
.id {
    display: none;
}



/*REMOVE*/
.remove {
    width: 15%;
}



/*LABEL*/
.label {
    width: 35%;
}
label {
    width: 100%;
}




/*QUANT and BUY*/
form {
    text-align: right;
}



/*QUANT*/
.quant {
    width: 15%;

}



/*BUY*/
.buy {
    width: 15%;

}

.dw_button {
    width: 100%;
    color: red;
    text-decoration: underline;
}


input[type=submit] {
    font-size: 12pt;
    font-weight: bold;
    font-family: BlinkMacSystemFont;
}
input[type=submit]:focus {
    color: red;
    border: none;
}