/*-- TABLE HEADER --*/
.table-header {
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid black;
    width: 100%;
}

.table-header .label {
    padding-left: 1vw;
}

/*-- TABLES --*/

form {
    width: 65vw;
    margin: 2vh 0;
}

.col {
    display: inline-block;
}

table {
    font-size: 16pt;
    width: 100%;
}

table tbody, table tr {
    width: 100%;
}
table td, .col {
    width: 20%;
    text-align: center;
}

table input {
    font-size: 12pt;
}


/*ID*/
.id {
    display: none;
}




/*LABEL*/
.label {
    text-align: left;
    width: 50%;
}
label {
    text-align: left;
    width: 100%;
}



.price {
        text-align: left;

}



/*QUANT and BUY*/
form {
    text-align: right;
}



/*QUANT*/
.quant {
    width: 15%;

}



/*BUY*/
.buy {
    width: 15%;

}

.dw-button {
    width: 100%;
    color: red;
    text-decoration: underline;
    font-weight: bold;
}


input[type=submit] {
    font-size: 12pt;
    font-weight: bold;
    font-family: BlinkMacSystemFont;
}


input:focus, textarea:focus {
    color: black;
    border: none;
    outline-color: transparent;
    outline-style: none;
}

input[type=button]:focus {
    color: red;
}

input[type=button]:hover {
    cursor: pointer;
}


#none {
    margin: 4vh 0;
    padding: 1vh 1vw;
    display: none;
}




#totalbuy {
    widows: 65vw;
    margin-top: 7vh;
    padding-top: 2vh;
    border-top: 1px solid black;
}
#total, #buyall {
    font-family: century gothic;
    font-size: 16pt;
    display: inline-block;
    width: 50%;
    padding: 0px;
}

#buyall {
    color: red;
    text-decoration: underline;
    float: right;
    text-align: right;
}

#buyall:hover {
    cursor: pointer;
}