* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    overflow-y: hidden;
}

.column {
    width: 49vw;
    margin: 0 auto;
    height: 100vh;
    overflow-y: scroll;
    padding: 18vh 0;

}


#left {
    float: left;
}

.cover {
    max-width: 60%;
    max-height: 60%;
    padding-left: 10vw;
    margin-top: 1vh;
    float: right;
}



#right{
    float: right;
    overflow-y: scroll;
}

#text{
    float: right;
    padding-right: 4vw;
    overflow-y: scroll;
    margin-bottom: 25vh;
}

p {
    margin-left: 0;
    font-size: 12pt;
    font-family: Century Gothic;
    font-weight: bold;
}

#nome {
    font-size: 32pt;
    margin-top: 1vh;
}

#compra {
    font-size: 18pt;
}


#preco {
    color: red;
    padding-left: 3%;
    text-decoration: underline;
}



pre {
    padding-top: 3vh;
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}



/*#voltar {
    text-decoration: underline;
}*/

@media screen and (max-width: 600px) {
    .revista {
        margin: 0 auto;
        width: 92%;
         min-width: 50px;
    }
}




/* HEART ANIMATION */



input[type=checkbox] {
	clear: both;
	display: none;
}

input[type="checkbox"] {
  display: none;
}

label svg {
	display: inline-flex;
	vertical-align: middle;
	width: 35px;
	fill: rgb(167, 167, 167);
}

#heart {
  position: absolute;
  display: block;
  padding: 40vh 48vw;
  fill: #CDCDCD;
  transition: fill 200ms;
  z-index: 1;
}

#heart.active {
  fill: #FFA600;
  animation: fav 600ms ease;
}

@keyframes fav {
  15% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
}