* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    overflow-y: hidden;
}

.column {
    width: 49vw;
    margin: 0 auto;
    height: 100vh;
    overflow-y: scroll;
    padding: 18vh 0;

}


#left {
    float: left;
}

.cover {
    max-width: 70%;
    margin-top: 7vh;
    padding-left: 10vw;
    margin-bottom: 22vh;

}



#right{
    float: right;
    overflow-y: scroll;
}

#text{
    padding-right: 8vw;
    overflow-y: scroll;
    margin-bottom: 25vh;
}

p {
    margin-left: 0;
    font-size: 12pt;
    font-family: Century Gothic;
    font-weight: bold;
}

#nome {
    font-size: 20pt;
    margin-top: 6vh;
}


#preco {
    text-decoration: underline;
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}



/*#voltar {
    text-decoration: underline;
}*/

@media screen and (max-width: 600px) {
    .revista {
        margin: 0 auto;
        width: 92%;
         min-width: 50px;
    }
}