* {
    margin: 0;
    padding: 0;
}


/*-- BODY --*/

body {
    background-color: #F2F1EF;
    width: 100vw;
    height: 100vh;
    font-family: Century Gothic;
    font-size: 11pt;
    overflow-x: hidden;
}

p {
    font-family: Frutiger LT Std;
    padding: 0px 15px;
    font-size: 11pt;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}


/*-- HEADER --*/

header {
    width: 250px;
    position: fixed;
    z-index: 2;
    padding-top: 2vh;
    padding-bottom: 1vh;
}

header img {
    margin-left: 2vw;
    width: auto;
    height: 105px;
    float: left;
}

#login {
    position: absolute;
    top: 78vh;
    padding-left: 2vw;

}


/*-- NAV --*/

nav {
    position: relative;
    z-index: 2;
    margin-top: 16vh;
    padding-left: 2vw;
    width: 24vw;
    font-size: 16pt;
    line-height: 20pt;
}

ul {
    list-style-type: none;
}

#nav-menu {
    padding-left: 2vw;
}

a {
    text-decoration: inherit;
    color: black;
    cursor: auto;
}

nav a:hover {
    text-decoration: underline;
}

.active {
    color: #d83453;
}


/*-- SECTIONS --*/

section {
    width: 100vw;
    height: 100vh;
    text-align: left;
}

h3 {
    font-size: 26pt;
    margin-bottom: .8em;
    margin-top: .4em;
    font-weight: 100;
}


/*-- FIRSTPAGE --*/

.fullPage {
    background-image: url(../images/magazine1.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.3s linear;
}

#firstPage {
    position: fixed;
    z-index: -999;
    opacity: 1;
    margin-top: 3.5vh;
    max-height: 94vh;
}


/*—————————————————      pesquisa    ——————————————————————*/
input::-webkit-input-placeholder {
  color: black;
}

.inputtext {
    font-family: Century Gothic;
    font-size: 11pt;
    display: inline-block;
    border: none;
    color: rgba(0, 0, 0, 1);
    background: rgba(220, 220, 220, 1);
    outline: none;
    width: 30vw;
    max-width: 150px;
}

.pesquisa {
    position: relative;
    width: 190px;
    margin-top: -3px;
    top: 3vh;
    padding-top: 8px;
    padding-left: 12px;
    height: 40px;
    background: rgba(220, 220, 220, 1);
}

.btn {
    background-color: transparent;
    border: 2px solid black;
    padding: 9px;
    font-family: Century Gothic;
    font-size: 11pt;
    margin-right: 10vw;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(40, 40, 40);
    color: rgba(220, 220, 220, 1);
    transition: all 1s;
}

.material-icons {
    position: absolute;
    right: 5px;
    float: right;
    font-size: 11pt;
    color: gray;
    vertical-align: sub;
}

#spanSearch {
    margin-top: 40px;
}

.barraMenu {
    position: fixed;
    width: 22vw;
    height: 100vh;
    float: left;
}
#enter {
    margin-top: 15px;
}
