* {
    margin: 0;
    padding: 0;
}


/*-- BODY --*/

body {
    background-color: #F2F1EF;
    width: 100vw;
    height: 100vh;
    font-family: Century Gothic;
    font-size: 11pt;
    overflow-x: hidden;
}

p {
    font-family: Frutiger LT Std;
    padding: 0px 15px;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}


/*-- HEADER --*/

header {
    background-color: #F2F1EF;
    width: 100vw;
    position: fixed;
    z-index: 2;
    /*    margin: 1vh 3vw;
*/
    padding-top: 1vh;
    padding-bottom: 1vh;
}

header img {
    margin-left: 50px;
    width: auto;
    height: 50px;
    float: left;
}

#login {
    float: right;
    font-size: 15pt;
    padding-right: 5vw;
    padding-top: 2vh;
}


/*-- NAV --*/

nav {
    position: fixed;
    z-index: 2;
    margin-top: 13vh;
    width: 20vw;
    padding-left: 4vw;
    font-size: 15pt;
    line-height: 18pt;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: inherit;
    color: black;
    cursor: auto;
}

nav a:hover {
    text-decoration: underline;
}

.active {
    color: #d83453;
}


/*-- SECTIONS --*/

section {
    width: 100vw;
    height: 100vh;
    text-align: left;
}

h3 {
    font-size: 26pt;
    margin-bottom: .8em;
    margin-top: .4em;
    font-weight: 100;
}


/*-- FIRSTPAGE --*/

.fullPage {
    background-image: url(../images/magazine1.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.3s linear;
}

#firstPage {
    position: fixed;
    z-index: -999;
    opacity: 1;
    margin-top: 3.5vh;
    max-height: 94vh;
}


/*—————————————————      pesquisa    ——————————————————————*/

.inputtext {
    font-family: Century Gothic;
    font-size: 11pt;
    display: inline-block;
    box-sizing: content-box;
    padding: 10px 20px;
    border: none;
    color: rgba(0, 0, 0, 1);
    background: rgba(220, 220, 220, 1);
    outline: none;
    width: 30vw;
    max-width: 250px;
}

.pesquisa {
    margin-top: -3px;
    float: left;
    top: 0px;
    padding-left: 80px;
    height: 50px;
}

.btn {
    background-color: transparent;
    border: 2px solid black;
    padding: 9px;
    font-family: Century Gothic;
    font-size: 11pt;
    margin-right: 10vw;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(40, 40, 40);
    color: rgba(220, 220, 220, 1);
    transition: all 1s;
}

.material-icons {
    padding-top: 12px;
    font-size: 11pt;
    color: gray;
    vertical-align: sub;
}

#spanSearch {
    margin-top: 20px;
    float: right;
}