.welcome {
    width: 65vw;
    height: auto;
    padding-left: 20vw;
    padding-right: 15vw;
    padding-top: 20vh;
    font-size: 16pt;
}


/* PROFILE */

#main {
    width: 100%;
    height: 35vh;
}


#profile-pic-button{
    display: none;
}

#profile-pic {
    display: inline-block;
    float: left;
    width: 20vw;
    height: 20vw;
    min-height: 234px;
    min-width: 234px;
    max-height: 270px;
    max-width: 270px;
    border-radius: 50%;
    background: url(../images/profile.JPG) no-repeat center center;
    background-size: cover;
    margin-bottom: 3vh;
}

.profile-pic-enabled:hover {
    opacity: 0.4;
    cursor: pointer;
}

#profile-main {
    width: 60%;
    text-align: center;
    display: inline-block;
}

#profile-name {
    font-size: 26pt;
    margin-top: 7vh;
}

.button {
    font-size: 18pt;
    padding: 2%;
    width: 30%;
    margin-top: 4vh;
    border: 1px solid black;
}

.button:focus {
    color: black;
}

.button:hover, input[type=submit]:hover {
    cursor: pointer;
    text-decoration: underline;
}

input[type=submit]{
    font-size: 18pt;
    font-family: Century Gothic;
}


.line {
    width: 100%;
    margin: 1vh 0;
    padding: 1vh 1vw;
}

label,
.date {
    width: 30%;
    display: inline-block;
    float: left;
}

input {
    font-size: 16pt;
}

input,
.msg {
    width: 70%;
    border: none;
    color: black;
    background-color: #F2F1EF;
    border-bottom: 1px solid #F2F1EF;
}

.enabled {
    border-bottom: 1px solid black;
}

input:focus {
    color: lightgray;
    border-color: lightgray;
    outline-color: transparent;
    outline-style: none;
    transform-origin: 0% 50%;
}


/*input[type=submit] {
    width: 30%;
    margin: 0 auto;
    margin-top: 6vh;
    padding: 2vh 0;
    border: 1px solid black;
}

input[type=submit]:hover {
    text-decoration: underline;
}*/


/* MESSAGES & ORDERS */

h2 {
    padding-bottom: 1vh;
    border-bottom: 4px solid black;
    margin-bottom: 4vh;
}


/* MESSAGES */

.msg {
    height: auto;
    float: left;
    font-family: BlinkMacSystemFont;
    font-weight: normal;
    margin-bottom: 6vh;
}


/* ORDERS */




/* EDITOR */

#add-button {
    width: 20%;
    text-align: center;
    margin-top: 6vh;
}